/* css for MediaFrontPage mobile base */

/* BASE */ 

html,body { 
	height: 100%;
	-webkit-font-smoothing: antialiased;
	width: 320px;
	/* overflow: auto; */
}
body {
	font-family: 'Helvetica Neue','HelveticaNeue',Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:140%;
	height: 100%;
	margin: 5px 5px;
}
table {
	font-size:1.2em;
	text-align:center;
}
td {
	vertical-align:top;
}
#header ul {
	margin: 0;
	padding:0;
	list-style-type:none;
	display: block;
}
#header li {
	padding: 0px 5px 0px 5px;
	float: left;
}
#main {
	/* margin: 10px 0px 0px 0px;*/
	padding: 10px 5px 5px 5px;
	clear: both;
}
#main ul {
	margin: 0;
	padding:0;
	list-style-type:none;
}

.progressbar { 
	display: block;                 
	height: 16px; 
	margin: 0 0 2px; 
	background: #666; 
	width: 100px;
	overflow: hidden;
}
.progress { 
	background: #FF9522; 
	height: 100%; 
	text-align: left;
	display: block;

}
.progressbar .warning { 
	background: #FF2222; 
}

.progresslabel {
	width: 100%;
	text-align: left;
	height: 16px;
	margin: -16px 5px;
	overflow: hidden;
}
#sabnzbd table {
	font-size:1em;
	text-align:left;
}
#sabnzbd div.progressbar { 
	width:100%; 
	margin-bottom:-10px; 
}
#sabnzbd div.progressbar div.progresslabel {
	font-weight:bold;
}
#sabnzbd td.actions { 
	height:16px;
	margin: 0px 0px 10px 0px; 
}
#sabnzbd td.actions img { 
	width:16px; 
	height:16px;
}
div.highslide-caption {
	display: none;
}
div.library-title h2 {
	border: none;
	display:block;
	float: none;
}
div.library-info {
	display:block;
	white-space: normal;
}

div.library-info p {
	display:block;
	margin: 5px 10px;
}
div.library-info span.library-img {
	display: table-cell;
	float: left;
}
div.library-info span.library-desc {
	display: table-cell;
}
div.library-info img {
	width: 100px;
	margin: 0px 5px 0 0;
}
#outerWrapper {
	width: 100%;
	margin: -40px auto 0px auto;
	font: 9pt arial;
}

#listingWrapper {
	padding: 1px 0px 10px 0px;
	overflow: auto;
	height:auto!important;
	font-size: 0.8em;
}

#listingWrapper h1 {
	display:block;
	visibility: visible;
	border-bottom: 0px;
	text-align: left;
	margin:0 0 -8 15px;
}

.listing {
	padding: 10px 20px 10px 10px;
	border: none;
	margin-top: 10px;
	overflow: hidden;
	background-color: inherit;
}

.listingThumb {
	width: 80px;
	/*height: 118px;*/
	float: left;
	border: 1px solid #000;
	background-image: url(/sickbeard/images/poster.png);
}
.listing h1 > .icons {
	float: right;
}

.listing h1 > .icons a { 
	font-size: 0.5em;
	font-weight: normal;
	color: #222528
}

.listing h1 > .icons a img {
	width: 12px;
	height: 12px;
}

.listing p {
	/* font-size: 1.1em; */
	padding: 0px 0px 0px 5px;
}

.listing p > .info {
	font-weight: bold;
}

.listing p > .ended {
	color: red;
}

.listing p > .unknown {
	color: blue;
}

.listing p.next {
	padding: 5px;
}

.listing p.noMargin {
	margin-bottom: 0;
}

