/* css for MediaFrontPage mobile base */

/* BASE */ 

html,body { 
	height: 100%; -webkit-font-smoothing: antialiased;
}
body {
	font-family: 'Helvetica Neue','HelveticaNeue',Helvetica, Arial, sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:18px;
	color:#585858;
	background-color:#000000;
	background-image:url(images/body_bg.jpg);
	background-repeat:repeat-y;
	background-position:center;
	margin:0;
	padding:0;
}

p {margin:0; padding:0;}

a img {border:none;}

h1 {
	font-size:18px;
	line-height:16px;
	color:#151618;
	text-align:center;
	margin: 0px;
	padding: 4px 0 0 0;
}
table {
	font-size:1.2em;
	text-align:center;
}
td {
	vertical-align:top;
}

#main {
	-moz-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
	margin:10px 0px;
	background: white;
}
#main h1.title {
	background: url(images/header.png) #FFF;
	-moz-border-radius:6px 6px 0px 0px;
	border-radius:6px 6px 0px 6px;
	height: 31px;
	text-align:center;
	padding: 4px 0 0 0;
	color:#585858;
}
#main ul {
	margin: 0;
	padding:0;
	list-style-type:none;
}

.progressbar { 
	-moz-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
	display: block;                 
	height: 16px; 
	margin: 0 0 2px;
	background: #AAA; 
	width: 100%;
	overflow: hidden;
}
.progress { 
	-moz-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
	background: #FF9522; 
	height: 100%; 
	text-align: left;
	display: block;

}
.progressbar .warning { 
	background: #FF2222; 
}
.progresslabel {
	width: 100%;
	text-align: center;
	height: 16px;
	margin: -16px 5px;
	overflow: hidden;
}
div.highslide-caption {
	display: none;
}
#page {
	width:320px;
	padding-top:9px;
	background-color:#2c2e32;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

#header ul{
	list-style-type:none;
	margin:0px;
	padding: 0 0 0 1px;
	display: block!important;
	width: 320px!important;
	
}

#header ul li{
	margin: 0;
	background-image:url(images/button-menu.png);
	width: 50px;
	height: 53px;
	display: inline-block!important;
	vertical-align: top;
}

#header ul li a{
	display:block;
	width: 50px;
	color:#888888;
	font-weight:bold;
	text-decoration:none;
	overflow: hidden;
}
#header ul li a span {
	width: 20px;
	height: 40px;
	display: inline;
	//margin-top: 32px;
	//font-size: 10px;
}

#header ul li.menuitem  a  {
	height: 40px;
	display: block;
	margin-top: 33px;
	margin-left: 10px;
	font-size: 10px;
}
#header ul li.Library  a  {
	background: url(images/icon-library.png) top left no-repeat;
	width: 30px;
	margin-top: 8px;
}
#header ul li.Library  a span {
	display: none;
}
#header ul li.Playing a  {
	background: url(images/icon-playing.png) top left no-repeat;
	width: 40px;
	margin-top: 8px;
}
#header ul li.Playing  a span {
	display: none;
}
#header ul li.Upcoming a  {
	background: url(images/icon-upcoming.png) top left no-repeat;
	width: 50px;
	margin-left: 3px;
	margin-top: 8px;
}
#header ul li.Upcoming  a span {
	display: none;
}
#header ul li.Control a {
	background: url(images/icon-control.png) top left no-repeat;
	width: 40px;
	margin-top: 8px;
}
#header ul li.Control  a span {
	display: none;
}
#header ul li.SABnzbd a {
	background: url(images/icon-downloads.png) top left no-repeat;
	width: 40px;
	margin-left: 4px;
	margin-top: 8px;
}
#header ul li.SABnzbd  a span {
	display: none;
}
#header ul li.Drives a {
	background: url(images/icon-drives.png) top left no-repeat;
	width: 40px;
	margin-top: 8px;
}
#header ul li.Drives  a span {
	display: none;
}
#header ul li.RSS a {
	background: url(images/icon-rss.png) top left no-repeat;
	width: 30px;
	margin-top: 8px;
}
#header ul li.RSS  a span {
	display: none;
}

#header ul li ul li a{
	background-image:url(images/item_menu_medium.png);
	background-repeat:no-repeat;
	background-position:top right;
}
#page #main .widget-content {
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
}
/* SickBeard */
.icons {
	display: none;
}
p.next, p.noMargin {
	display: none;
}
.listing {
	display: inline;
	margin-bottom:5px;
}
.listing h1 a {
	display: none;
}
#listingWrapper div {
	float: left;
}
#listingWrapper img {
	width: 65px;
	padding-right: 16px;
}
#listingWrapper h1 {
	color: #696969;
	font-size: 1em;
	text-align: left;
	line-height:16px;
	font-weight: bold;
	text-shadow: none;
	margin: 0 0 0 6px!important;
	padding: 4px 0;
}
#listingWrapper br {
	clear: both;
}

div.library-title h2 {
	border: none;
	display:block;
	float: none;
}
div.library-info {
	display:block;
	white-space: normal;
}

div.library-info p {
	display:block;
	margin: 5px 10px;
}
div.library-info span.library-img {
	display: table-cell;
	float: left;
}
div.library-info span.library-desc {
	display: table-cell;
}
div.library-info img {
	width: 100px;
	margin: 0px 5px 0 0;
}
#outerWrapper {
	width: 100%;
	margin: -40px auto 0px auto;
	font: 9pt arial;
}

#listingWrapper {
	padding: 0px 0px 10px 25px;
	margin-top:-20px;
	overflow: auto;
	height:auto!important;
	font-size: 0.8em;
}

/* Hard Drives */
#col-disk{width:20%;}
#col-capacity{width:20%;}
#col-remaining{width:20%;}
#col-progress {width:40%;}

#sab-total.progressbar {
	width:96%;
	overflow:hidden;
	margin-bottom:10px;
}
#sab-total .progresslabel {
	padding: 0 4px;
	overflow:hidden;
	text-align:center;
}
#sab-queue {
	display: inline-table;
}
#sab-queue div.queueitem{
	display: table-row;
}
#sab-queue div.progressbar {
	width: 275px;
	height: 16px;
	overflow:hidden;
	vertical-align: top;
}
#sab-queue div.progresslabel {
	padding: 0 4px;
	overflow:hidden;
	text-align:left;
}
#sab-queue div.actions { 
	display: table-cell;
	width:36px;
	vertical-align: top;
}
#sab-queue div.actions img { 
	width:16px; 
	height:16px;
}
div.thumbblockvideo {
	width: 100%;
	text-align: center;
}
div.thumbblockvideo img {
	max-width: 98%;
}
div.thumbblockaudio {
	width: 100%;
	text-align: center;
}
div.thumbblockaudio img {
	max-width: 98%;
}
