.listing .title {
	display: none;
}
.listing .info {
	display: none;
}
.listing h1 {
	display: none!important;
}
.listing {
	width: 100px;
	height: 139px;
	float: left;
	padding: 10px 0 10px 0!important;
	background: transparent!important;
}
br {
	clear: both;
}
#outerWrapper {
	padding-left: 12px!important;
}