#wComingEpisodes iframe {
	display     : none;
	visibility  : hidden;
	height      : 1px;
}
#wComingEpisodes h1 {
	display     : none;
	visibility  : hidden;
}

div#header, span.MainMenu, span.SubMenu {
	display     : none;
	visibility  : hidden;
	height      : 1px;
}

#outerWrapper {
	width: 100%;
	margin: -40px auto 0px auto;
	font: 9pt arial;
}

#listingWrapper {
	padding: 1px 0px 10px 0px;
	overflow: auto;
	height:auto!important;
	font-size: 0.8em;
}

#listingWrapper h1 {
	display:block;
	visibility: visible;
	border-bottom: 0px;
	text-align: left;
	margin:0 0 -8 15px;
}

.listing {
	padding: 10px 20px 10px 10px;
	border: none;
	margin-top: 10px;
	overflow: hidden;
	background-color: inherit;
}

.listingThumb {
	width: 80px;
	/*height: 118px;*/
	float: left;
	border: 1px solid #000;
	background-image: url(/sickbeard/images/poster.png);
}

.listing > div {
	margin-left: 100px;
}

.listing h1 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 10px 0px;
	padding: 0;
	border-bottom: 0px none #000;
	text-align: left;
}

.listing h1 > .icons {
	float: right;
}

.listing h1 > .icons a { 
	font-size: 0.5em;
	font-weight: normal;
	color: #222528
}

.listing h1 > .icons a img {
	width: 12px;
	height: 12px;
}

.listing p {
	/* font-size: 1.1em; */
	padding: 0px 0px 0px 5px;
}

.listing p > .info {
	font-weight: bold;
}

.listing p > .ended {
	color: red;
}

.listing p > .unknown {
	color: blue;
}

.listing p.next {
	padding: 5px;
}

.listing p.noMargin {
	margin-bottom: 0;
}

#main #wComingEpisodes.widget .widget-content {
    max-height:none;
    overflow:hidden;
}
