html,body { 
	height: 100%; -webkit-font-smoothing: antialiased;
}
body {
	background:url(../media/background.png) #222528;
	font-family: 'Helvetica Neue','HelveticaNeue',Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:140%;
	color: #666666;
	height: 100%;
	margin: 5px 5px;
}
h1 {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid;
	margin-top: 0px;
}
h2 {
	font-size: 18px;
	font-weight: bold;
}
h3 {
	margin: 0 0 .5em 0;
}
p {
	color: #666666;
	margin: .5em 0;
	font-size: 12px;
	line-height: 140%;
}
table {
	font-size:1.2em;
	text-align:center;
}
td {
	vertical-align:top;
}
label {
	margin-right:5px;
}
ul, li { 
	margin: 0;
	padding:0;
	list-style-type:none;
}
a {
	text-decoration: none;
}
a:link {
	color:#FF9522;
}
a:hover {
	color:#FF9522;
}
a:visited {
	color:#FF9522;
}
.progressbar { 
	/*position: relative; */
	display: block;                 
	height: 16px; 
	background: #333; 
	margin-bottom:5px;
	overflow: hidden;
}
.progress { 
	/*position: relative; */
	background: #FF9522; 
	height: 100%; 
	/*text-align: left; */
	display: block;

}
.progressbar .warning { 
	background: #FF2222; 
}
.progresslabel {
	width: 100%;
	text-align: left;
	height: 16px;
	margin: -16px 0px;
	overflow: hidden;
}
div.clear-float {
	clear:both;
}
a.controlbutton img {
	height: 20px;
	width: 20px;
	border: none;
}

/* SECTIONS */

#main {
	position:relative;
	clear:both;
	width:100%;
	margin:0 auto;			
	overflow:hidden;
}
#left-sidebar {
	float:left;
	width:20%;			
	position:relative;	
}
#middle {
	float:left;
	width:57%;		
	position:relative;	
	padding: 0 10px;
}
#right-sidebar {
	float:right;
	width:20%;		
	position:relative;
	white-space: nowrap; 	
}

/* wCONTROL */ 

#quick-links {
	display: block;	
	margin: 0;
}

/* wHARDRIVES */

#wHardDrives {
	display: block;	
	margin: 20px 0 0;
}
#wHardDrives table {
	text-align: center;
	width: 100%;
}
#col-disk{width:20%;}
#col-capacity{width:20%;}
#col-remaining{width:20%;}
#col-progress {width:40%;}
#wHardDrives div.progressbar { 
	width: 100%;
}
#wHardDrives .progresslabel {
	text-align: center;
}

/* wNOWPLAYING */
#wNowPlaying img {
	float: left;
	padding: 0 5px 5px 0;
	max-height: 100px;
	max-width: 100px;
}
#wNowPlaying div.progressbar { 
	width: 100%; 
	height: 10px; 
	clear:both;
}
#wNowPlaying div.controls { 
	margin-top:5px;
}
#wNowPlaying .playlist-item {
	display: block;
	height:100px;
	margin-top:15px;
}
#wNowPlaying #thumbblock img {
	border: 1px solid #000;
}

/* wSABNZBD */
#wSabnzbd #sab-total.progressbar {
	width:96%;
	overflow:hidden;
	margin-bottom:10px;
}
#wSabnzbd #sab-total .progresslabel {
	padding: 0 4px;
	overflow:hidden;
	text-align:center;
}
#wSabnzbd #sab-queue div.progressbar {
	width:85%;
	overflow:hidden;
	float:left;
}
#wSabnzbd #sab-queue div.progresslabel {
	padding: 0 4px;
	overflow:hidden;
}
#wSabnzbd div.actions { 
	width:100%; 
}
#wSabnzbd div.actions img { 
	width:16px; 
	height:16px;
	margin-left:4px;
}

/* wRECENTMOVIES */

#recentmovies  {
	display:block;
	margin: 20px 0 0;
}
div.library-title h2 {
	color: #FF9522;
	border: none;
	font-size: 20px;
	display:block;
	float: none;
}
div.library-info {
	display:block;
	white-space: normal;
}

div.library-info p {
	display:block;
	margin: 5px 10px;
	font-size: 12px;
	line-height: 15px;
}
div.library-info span.library-img {
	display: table-cell;
	float: left;
}
div.library-info span.library-desc {
	display: table-cell;
}
div.library-info img {
	width: 125px;
	margin: 0px 5px 0 0;
}
