html,body { 
	height: 100%; -webkit-font-smoothing: antialiased;
}
body {
	background:url(../media/background.png) #222528;
	font-family: 'Helvetica Neue','HelveticaNeue',Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:140%;
	color: #666666;
	height: 100%;
	margin: 5px 5px;
}
h1 {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid;
	margin-top: 0px;
}
h2 {
	font-size: 18px;
	font-weight: bold;
}
h3 {
	margin: 0 0 .5em 0;
}
p {
	color: #666666;
	margin: .5em 0;
	font-size: 12px;
	line-height: 140%;
}
table {
	font-size:1.2em;
	text-align:center;
}
ul, li { 
	margin: 0;
	padding:0;
	list-style-type:none;
}
a {
	text-decoration: none;
}
a:link {
	color:#FF9522;
}
a:hover {
	color:#FF9522;
}
a:visited {
	color:#FF9522;
}
.progressbar { 
	/*position: relative; */
	display: block;                 
	float: left;    
	height: 16px; 
	margin: 0 0 2px; 
	background: #333; 
	width: 100px;
}
.progress { 
	/*position: relative; */
	background: #FF9522; 
	height: 100%; 
	text-align:right; 
	display:block;
}
a.controlbutton img {
	height: 20px;
	width: 20px;
	border: none;
}

/* SECTIONS */

#main {
	position:relative;
	clear:both;
	width:100%;
	margin:0 auto;			
	overflow:hidden;
}
#left-sidebar {
	float:left;
	width:20%;			
	position:relative;	
}
#middle {
	float:left;
	width:57%;		
	position:relative;	
	padding: 0 10px;
}
#right-sidebar {
	float:right;
	width:20%;		
	position:relative;
	white-space: nowrap; 	
}

/* wCONTROL */ 

#quick-links {
	display: block;	
	margin: 0;
}

/* wHARDRIVES */

#hdstats {
	display: block;	
	margin: 20px 0 0;
}
#hdstats table {
	text-align: center;
	width: 250px;
}
#nowplaying div.progressbar { 
	width: 250px; 
	height: 10px; 
}
/* wNOWPLAYING */

#nowplayingblock  {
	display:block;
	clear:both;
}
#nowplaying  {
	display:block;
	margin: 20px 0 0;
}
#thumbblock {
	height: 100px;
	width: 100px;
	padding:0 10px 10px 0px;
	float: left;
}
#nowplaying img {
	float: left;
	padding: 0 5px 5px 0;
	max-height: 100px;
	max-width: 100px;
}

/* wSABNZBD */

#sabnzbdblock  {
	display:block;
	clear:both;
	margin: 20px 0 0;
}
#sabnzbdblock h1 {
	margin: 20px 0 0;
}
#sabnzbd div.progressbar { 
	width: 250px; 
	height: 10px; 
}
#sabnzbd div.progressbar div.progress { 
	height: 10px; 
}

/* wRECENTMOVIES */

#recentmovies  {
	display:block;
	margin: 20px 0 0;
}
div.library-title h2 {
	color: #FF9522;
	border: none;
	font-size: 20px;
	display:block;
	float: none;
}
div.library-info {
	display:block;
	white-space: normal;
}

div.library-info p {
	display:block;
	margin: 5px 10px;
	font-size: 12px;
	line-height: 15px;
}
div.library-info span.library-img {
	display: table-cell;
	float: left;
}
div.library-info span.library-desc {
	display: table-cell;
}
div.library-info img {
	width: 125px;
	margin: 0px 5px 0 0;
}
