body {
	background: none #edecec !important;
}
#main .section .widget {
    border-color: #666666;
}
#main .widget .widget-head {
    background-color: #F5F5F5;
}
#main .widget .widget-content {
    background-color: #FFFFFF;
}
#main .widget .widget-content .alt {
    background-color: #F5F5F5;
}
.progressbar { 
	background-color: #666666 !important; 
}
.progresslabel { 
	color: #000 !important; 
}

.widget-head a.remove  {
    background-image: url(../media/buttonslight.gif) !important;
}

.widget-head a.edit  {
    background-image: url(../media/buttonslight.gif) !important;
}

.widget-head a.collapse  {
    background-image: url(../media/buttonslight.gif) !important;
}

