#header {
    float:left;
}
#main {
    clear:none;
    margin: 10px 30px 0px 200px;
    width: auto;
}

/* Widget Placeholders and Style */
#page {
	background: 
}

#main .section {
    margin-bottom: 10px;
    height: auto !important; 
    border:1px solid #3d3d3d;
    padding:10px;
}
#main .setting-placeholder { 
    border: 2px dashed #999;
    margin: 10px 10px 0 10px; 
}
#main .section .setting, #main .section .add {
    border:1px solid black;
    /*-moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px;*/
    margin:10px 0px;
}
#main .setting-head {
    /*-moz-border-radius:6px 6px 0px 0px;
    border-radius:6px 6px 0px 0px;*/
    background:#3d3d3d;
    border-bottom:1px solid black;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#main  .setting-head span {
   text-align:center;
}
#main  .setting-head h3 {
   border-bottom: 0px;
   padding: 0 5px;
   display:inline;
}
#main .setting .setting-head a.remove  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat -24px 0;
    width: 14px;
    height: 14px;
    margin: 8px 5px;
    text-indent: -9999em;
    outline: none;
}
#main .setting .setting-head a.edit  {
    float: right;
    display: inline;
    background: url(../images/buttons.gif) no-repeat 0 0;
    width: 24px;
    height: 14px;
    margin: 8px 0;
    text-indent: -9999em;
    outline: none;
}
#main .setting .setting-head a.collapse  {
    float: left;
    display: inline;
    background: url(../images/buttons.gif) no-repeat -52px 0;
    width: 14px;
    height: 14px;
    text-indent: -9999em;
    margin: 8px 0 8px 4px;
    outline: none;
}
#main .collapsed .setting-head a.collapse {
    background-position:-38px 0;
}
.collapsed .setting-content {
    display:none !important;
}
#main .setting-content {
    background:#2C2D32;
    -moz-border-radius:0px 0px 6px 6px;
    border-radius:0px 0px 6px 6px;
    padding: 3px 5px 3px;
}
#main .setting-content .setting-list {
    max-height:590px;
    white-space:nowrap;
    overflow-x:hidden;
    overflow-y:auto;    
}
#main  .setting-content .alt {
    background:#303134;
}
#main .setting-content .setting-control {
    margin-top:3px;
    text-align:right;
}
#main div.save {
text-align: center;
}
